<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BlackJack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BlackJack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <BlackJack.Properties.Settings>
      <setting name="PlayerImage" serializeAs="String">
        <value>..\..\Images\Players\cat.jpg</value>
      </setting>
      <setting name="PlayerName" serializeAs="String">
        <value>Karen</value>
      </setting>
      <setting name="InitBalance" serializeAs="String">
        <value>4000</value>
      </setting>
    </BlackJack.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BlackJack.Properties.Settings>
      <setting name="CardGameImagePath" serializeAs="String">
        <value>..\..\Images\Cards\</value>
      </setting>
      <setting name="CardGameImageSkinPath" serializeAs="String">
        <value>..\..\Images\Cards\cardSkin.png</value>
      </setting>
      <setting name="CardGameImageExtension" serializeAs="String">
        <value>.gif</value>
      </setting>
      <setting name="DefaultImage1" serializeAs="String">
        <value>..\..\Images\Players\cat.jpg</value>
      </setting>
      <setting name="DefaultImage2" serializeAs="String">
        <value>..\..\Images\Players\dog.jpg</value>
      </setting>
      <setting name="DefaultImage3" serializeAs="String">
        <value>..\..\Images\Players\rubberduck.jpg</value>
      </setting>
      <setting name="DefaultImage4" serializeAs="String">
        <value>..\..\Images\Players\soccerball.jpg</value>
      </setting>
    </BlackJack.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
